.fullScreen {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AFDCDc;
    color: rgb(50, 50, 50);
    align-content: center;
    vertical-align: center;
    z-index: 999;
    background-size: 50px 50px;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.311) 25%, rgba(255, 255, 255, 0.311) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.311) 75%, rgba(255, 255, 255, 0.311) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.311) 25%, rgba(255, 255, 255, 0.311) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.311) 75%, rgba(255, 255, 255, 0.311) 76%, transparent 77%, transparent);
    overflow: hidden;

}

.box {


    background-color: #eef2f3;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    border: solid 1px grey;
    justify-content: center;
    align-content: center;
    box-shadow: 0.6rem 0.6rem 0 rgba(0, 0, 0, 0.366);
    line-height: 20pt;
}



#welcomeButton {
    position: absolute;
    bottom: 10%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 50px;
    font-size: 20pt;
    background-color: #ffffff7b;
    border: 1px solid black;

    box-shadow: 0 0 0 black;
    transition: all 0.2s;

    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    text-align: center;
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.626);
    transform: translate(-0.4rem, -0.4rem);

}

#welcomeButton:hover {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

#welcomeButton:active {
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.626);
    transform: translate(-0.4rem, -0.4rem);

}

.btn {

    width: 80%;
    height: 50px;
    font-size: 12pt;
    background-color: #ffffff7b;
    border: 1px solid black;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    margin-top: 35px;
    margin-bottom: 60px;
    padding: 2% 15%;
    margin-left: 10%;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    text-align: center;
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.626);
    transform: translate(-0.4rem, -0.4rem);

}

.btn:hover {
    background-color: white;
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.btn:active {
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.626);
    transform: translate(-0.4rem, -0.4rem);

}

.colorDiv {
    margin-top: 10%;
    margin-left: 10%;
    width: 15vh;
    height: 15vh;
    border: 1px solid rgba(0, 0, 0, 0.626);
    padding: 4px;
}

.colorDiv:hover {
    padding: 0;
    border: 5px solid rgba(123, 123, 123, 0.562)
}

#grau.colorDiv {
    background-color: #eef2f3;
}

#hellgelb.colorDiv {
    background-color: #ffe7a0;
}

#rosa.colorDiv {
    background-color: #ffbeca;
}

#schwarz.colorDiv {
    background-color: #000000;
}

#blau.colorDiv {
    background-color: #0096d3;
}

#rot.colorDiv {
    background-color: #ff4a3d;
}

#grün.colorDiv {
    background-color: #90bc9c;
}

#gelb.colorDiv {
    background-color: #ffd900;
}

.fullScreenEinleitung {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AFDCDc;
    color: rgb(50, 50, 50);
    align-content: center;
    vertical-align: center;
    z-index: 999;
    background-size: 50px 50px;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.311) 25%, rgba(255, 255, 255, 0.311) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.311) 75%, rgba(255, 255, 255, 0.311) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.311) 25%, rgba(255, 255, 255, 0.311) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.311) 75%, rgba(255, 255, 255, 0.311) 76%, transparent 77%, transparent);
    overflow: hidden;

}

.welcomeBox {
    width: 350px;
    padding: 2%;

    background-color: #eef2f3;
    position: absolute;
    top: 35%;
    left: 47%;
    height: 30%;
    border: solid 1px grey;
    padding: 60px;
    margin: -70px 0 0 -170px;
    justify-content: center;
    align-content: center;
    box-shadow: 0.6rem 0.6rem 0 rgba(0, 0, 0, 0.366);
    line-height: 20pt;
}

#startButton {
    position: absolute;
    bottom: 10%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 50px;
    font-size: 20pt;
    background-color: #ffffff7b;
    border: 1px solid black;

    box-shadow: 0 0 0 black;
    transition: all 0.2s;

    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    text-align: center;
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.626);
    transform: translate(-0.4rem, -0.4rem);

}

#startButton:hover {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

#startButton:active {
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.626);
    transform: translate(-0.4rem, -0.4rem);

}