.fullScreenLogin {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #AFDCDc;
    color: rgb(50, 50, 50);
    align-content: center;
    vertical-align: center;
    z-index: 1000;
    background-size: 50px 50px;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.311) 25%, rgba(255, 255, 255, 0.311) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.311) 75%, rgba(255, 255, 255, 0.311) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.311) 25%, rgba(255, 255, 255, 0.311) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.311) 75%, rgba(255, 255, 255, 0.311) 76%, transparent 77%, transparent);
    overflow: hidden;

}

.codeInputWrap {
    width: 350px;
    padding: 2%;

    background-color: #eef2f3;
    position: absolute;
    top: 30%;
    left: 46%;
    height: 37%;
    border: solid 1px grey;
    padding: 60px;
    margin: -70px 0 0 -170px;
    justify-content: center;
    align-content: center;
    box-shadow: 0.6rem 0.6rem 0 rgba(0, 0, 0, 0.366);

}

.codeInputWrap p {
    margin-top: 15%;
    text-align: center;
}

#codeInput {
    border: 1px solid black;
    transition: all 0.2s;

    width: 100%;
    height: 50px;
    font-size: 16pt;
    margin-top: 13%;
    text-align: center;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.626);
    transform: translate(-0.4rem, -0.4rem);
}

#codeInput:hover,
#codeInput:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

#codeButton {

    width: 80%;
    height: 50px;
    font-size: 20pt;
    background-color: #ffffff7b;
    border: 1px solid black;

    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    margin-top: 35px;
    margin-bottom: 60px;
    padding: 2% 15%;
    margin-left: 10%;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    text-align: center;
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.626);
    transform: translate(-0.4rem, -0.4rem);

}

#codeButton:hover {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

#codeButton:active {
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.626);
    transform: translate(-0.4rem, -0.4rem);

}

#codeInput::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 12pt;

}

#codeInput::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12pt;
}

#codeInput:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12pt;
}

#codeInput:-moz-placeholder {
    /* Firefox 18- */
    font-size: 12pt;
}

#nameInput {
    border: 1px solid black;
    transition: all 0.2s;

    width: 100%;
    height: 50px;
    font-size: 12pt;
    margin-top: 13%;
    text-align: center;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.626);
    transform: translate(-0.4rem, -0.4rem);
}

#nameInput:hover,
#nameInput:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}