@font-face {
    font-family: AndaleMono;
    src: url(./fonts/AndaleMono.ttf);
}

@font-face {
    font-family: BonnySketch;
    src: url(./fonts/BonnySketch.ttf);
}

.modal {
    font-family: AndaleMono;
    position: fixed;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    padding: 10px;
    box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.popup1 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 23px 27px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 23px 27px rgba(0, 0, 0, 0.3);
    box-shadow: 0 23px 27px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
}

.popup {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    margin: 40 0 0 40;
    padding: 0 40px 0 20px;
    background: white;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 23px 27px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 23px 27px rgba(0, 0, 0, 0.3);
    box-shadow: 0 23px 27px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
}

.popup2 {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    margin: 40 0 0 40;
    padding: 0 40px 0 20px;
    background: rgb(238, 237, 237);
    border: solid 0.5px grey;
    border-radius: 3px;
    -webkit-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    -moz-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;

}

.photoPopUp {
    position: absolute;
    top: 20%;
    right: 40%;
    width: 640px;
    height: 510px;
    padding-left: 70px;
    margin: 0;
    background: rgb(238, 237, 237);
    border: solid 0.5px grey;
    border-radius: 3px;
    -webkit-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    -moz-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;

}

.photoPopUp #modalTopBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(216, 214, 214);
    border-bottom: solid rgb(34, 34, 34)y;
    text-align: center;
}

.sketchPopUp {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    margin: 40 0 0 40;
    padding: 0 40px 0 20px;
    background: rgb(238, 237, 237);
    border: solid 0.5px grey;
    border-radius: 3px;
    -webkit-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    -moz-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;

}

.sketchPopUp #modalTopBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(216, 214, 214);
    border-bottom: solid rgb(34, 34, 34)y;
    text-align: center;
}

.popup #modalTopBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(216, 214, 214);
    border-bottom: solid rgb(34, 34, 34)y;
    text-align: center;
}

.popup2 #modalTopBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(216, 214, 214);
    border-bottom: solid 1px rgb(34, 34, 34);
    text-align: center;
}

.popup2 #modalTopBar2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(216, 214, 214);
    border-bottom: solid 1px rgb(34, 34, 34);
    text-align: center;
}

#modalTopBar h1 {
    font-size: 18pt;
    font-family: AndaleMono;
    margin: auto;
}

.content {
    padding-top: 30px;
}

.Modal {
    position: fixed;
    width: 15%;
    right: 10%;
    top: 10%;
    margin: 40 0 0 40;
    padding: 0 40px 0 20px;
    background: rgb(238, 237, 237);
    border: solid 0.5px grey;
    border-radius: 3px;
    -webkit-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    -moz-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
    z-index: 1001;
}

.Modal #modalTopBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(216, 214, 214);
    border-bottom: solid rgb(34, 34, 34)y;
    text-align: center;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(102, 51, 153, 0);
}




.closeBtn {
    border-radius: 90%;
    background-color: #ffa6a4;
    border: solid 0.5px rgba(0, 0, 0, 0.466);
    color: white;
    padding: 20px, 10px, 20px, 10PX;
    margin: 5px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.closeBtn:hover {
    background-color: #e18e8d;
}

.closeBtnEck {
    background-color: white;
    border-radius: 1px;
    border: solid 0.5px rgb(28, 28, 28);
    color: rgb(27, 27, 27);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.closeBtnEck:hover {
    background-color: #e18e8d;
}


.progress {
    font-family: BonnySketch;
    background-color: #ffe7a0;
    position: absolute;
    left: 37%;
    right: 37%;
    top: 30%;
    bottom: 30%;
    margin: 40 0 0 40;
    padding: 0 40px 0 20px;
    border: solid 1px;
    border-radius: 1px;
    -webkit-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    ;
    -moz-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    ;
    box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    ;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;

}

.progressStyle p {
    font-family: BonnySketch;
    font-size: 16pt;
    text-transform: none;
}

.progressStyle h1 {
    font-family: BonnySketch;
    font-size: 16pt;

}

.fotoScrollDiv {
    background: white;
    position: absolute;
    width: 720px;
    height: 600px;
    right: 10%;
    border: solid 1px;
    border-radius: 1px;

    -webkit-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    ;
    -moz-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    ;
    box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    ;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: red;
}

.fotoScrollDiv img {
    margin: 200px;
}

.fotoScrollDiv #modalTopBar {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(216, 214, 214);
    border-bottom: solid rgb(34, 34, 34)y;
    text-align: center;
}

.scrollDiv {
    background: white;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;

    border: solid 1px;
    border-radius: 1px;
    -webkit-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    ;
    -moz-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    ;
    box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    ;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
    overflow-y: scroll;
    height: 80%
}


.scrollDiv #modalTopBar {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(216, 214, 214);
    border-bottom: solid rgb(34, 34, 34)y;
    text-align: center;
}

.kunstOrdner img {
    width: 115%;
    transform: translateX(-120px);

}

.kunstOrdner {
    background-color: darkgrey;
    margin: 0
}

.fotoOrdner {
    background-color: black;

}

.fotoOrdner img {
    background-color: black;
    margin: 30px;

}

.saveButton {
    position: fixed;
    left: 15px;
    bottom: 100px;
    padding: 20px, 10px, 20px, 10PX;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.löschenButton {
    position: fixed;
    left: 10px;
    bottom: 15px;

    padding: 20px, 10px, 20px, 10PX;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

.aufnehmenButton {
    position: fixed;
    left: 13px;
    bottom: 180px;

    padding: 20px, 10px, 20px, 10PX;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    transition: 0.5s;
}

.saveButton:hover,
.löschenButton:hover,
.aufnehmenButton:hover {
    background: rgb(81, 81, 81);
}

.filterEffekte {
    position: fixed;
    left: 10px;
    top: 40px;
    padding: 20px, 10px, 20px, 10PX;
    font-size: 7pt;
    line-height: 16pt;
}

.filterEffekte div:hover {
    background: rgba(154, 186, 232, 0.551);
}

.settingsPopup {
    background: rgb(238, 237, 237);
    white-space: nowrap;
    position: absolute;
    left: 42%;
    right: 42%;
    top: 20%;
    bottom: 20%;
    margin: auto;
    padding-left: 25px;
    text-align: center;
    border: solid 0.5px grey;
    border-radius: 3px;
    -webkit-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    -moz-box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 0.133);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
}

.settingsPopup #modalTopBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(216, 214, 214);
    border-bottom: solid rgb(34, 34, 34)y;
    text-align: center;
}

.folderWrapper[name="Einstellungen"] {
    position: absolute;
    top: 0;
    right: 200px;

    height: 30px;
    padding: 0;
    margin: 0;

}

.folderWrapper[name="Einstellungen"] img {
    width: 23px;

}

.folderWrapper[name="Einstellungen"] p {
    display: none;

}