#subliminal {
    position: fixed;
    z-index: 10;
    background-color: transparent;
    color: white;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: center;
    align-content: center;
}

#subliminal img {
    vertical-align: center;
    width: 60%;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 1000;
}

.center {
    padding: 30% 0;
    text-align: center;
    font-size: 70pt;
}